.result__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.result__title {
    font-size: xx-large;
    font-weight: bold;
}

.result__badge {
    width: fit-content;
    font-size: 1rem !important;
    margin-bottom: 0.25rem;
    font-weight: 200 !important;
}

.result__content__box {
    padding: 1rem;
}

.result__pagination {
    display: flex;
    justify-content: center;
}

.result__pagination a {
    border: none;
    background-color: var(--main-bg-dark);
    color: var(--main-white);
}

.result__pagination a:hover {
    background-color: var(--main-bg-dark);
    color: var(--main-yellow);
}

.result__pagination .active span {
    background-color: var(--main-yellow) !important;
    border-color: var(--main-yellow) !important;
    color: var(--main-bg-dark) !important;
}

.result__btn-goBack {
    color: var(--main-yellow) !important;
    background-color: var(--main-bg-dark) !important;
    border-color: var(--main-bg-dark) !important;
    transition: all 1s ease-in-out;
}

.result__btn-goBack:hover {
    color: var(--main-bg-dark) !important;
    background-color: var(--main-white) !important;
}
