.signin__container{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.signin__card{
    padding: 2em;
    align-self: center;
    width: 30rem;
    border-radius: 1rem !important;
}

.signin__card__title {
    font-size: 1.5rem !important;
}

.signin__card__btn{
    width: 100%;
    margin-top: 1rem;
}
.signin__card__btn span {
    margin-left: 1rem;
}