.timeline__container {
    display: flex;
    justify-content: center;
    height: 85vh;
    width: 100vh;
    user-select: none;
}

.timeline__card {
    background: linear-gradient(var(--main-bg-dark), var(--main-bg-dark-more));
    border-color: var(--main-bg-dark-more) !important;
    padding: 2em;
    align-self: center;
    width: 100%;
    border-radius: 1rem !important;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.5),
        0 8px 16px -8px rgba(0, 0, 0, 0.5);
}

.timeline__card__title {
    font-size: 2rem !important;
    color: var(--main-yellow);
}

.timeline__card__btn {
    width: 100%;
    margin-top: 2rem;
}

.timeline__map {
    margin-top: 1rem;
    height: 30rem;
    width: 100%;
    border-radius: 1rem;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline__map__span {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
}

.timeline__map__marker {
    padding: 5px;
    /* color: var(--main-yellow); */
    /* background-color: var(--main-bg-dark-more); */
}

.timeline__datePicker__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.timeline__datePicker__span {
    height: 100%;
    color: #fff;
}

.react-datepicker__input-container {
    height: 100%;
}

.timeline__datePicker__picker {
    margin-left: 1rem;
    height: 100%;
    width: 7rem;
    text-align: center;
}
