:root {
    --main-bg-dark: #3d3c38;
    --main-bg-dark-more: rgb(40, 39, 36);
    --main-bg-dark-more-shdow: rgba(40, 39, 36, 0.5);
    --main-yellow: #f9d342;
    --main-yellow-dark: #7e7966;
    --main-white: rgb(245, 245, 245);
    --main-white2: rgb(219, 216, 216);
}
